*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Mina";
}
#logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.navbar {
  background-color: black !important;
  position: sticky !important;
}
.nav-link {
  color: #ffd600 !important;
}
.form-control {
  background-color: white !important;
}
::placeholder {
  color: #000 !important;
}
form :is(input) {
  color: #000 !important;
}
#sort {
  background-color: #ffd600 !important;
  color: #000 !important;
  width: 30% !important;
}
h2 :is(span) {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: #ffd600;
  border: #ffd600;
  width: 15%;
  margin-left: 42.5%;
  background-color: #000;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: #ffd600;
  text-align: center;
}
.footer {
  padding: 20px;
}
a {
  color: #ffd600;
  background-color: transparent;
  text-decoration: none;
}
i {
  font-size: large;
  padding: 5px;
}
.lead {
  padding-top: 20px;
}
.card {
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  border-radius: 10px;
}
#stock {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-body {
  background-color: #000;
  color: #ffd600;
}
#checkoutImage {
  width: 15%;
  height: 15%;
}
#tableSpacing {
  object-fit: cover;
}

#totalPrice {
  background-color: black;
  color: #ffd600;
}
#totalPrices {
  background-color: black;
  color: #ffd600;
  padding: 10px;
  border-radius: 20px;
  padding-top: 1.25%;
  display: flex;
  flex-direction: row;
  object-fit: contain;
}
.adminTable {
  background-color: #000;
  color: #ffd600;
  border: solid #ffd600;
  font-size: 20px;
  width: 100%;
}
#adminImage {
  width: 25%;
  height: 25%;
}
#adminTableSpacing {
  object-fit: cover;
}
.col-id {
  width: 10%;
}
.col-headings {
  width: 15%;
}
.checkoutButtons {
  background-color: #000;
  color: #ffd600;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.adminButtons {
  background-color: #000;
  color: #ffd600;
  margin-right: 20px;
}
.formy {
  background-color: #000;
  color: #ffd600;
  padding: 2%;
  border-radius: 50px;
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 40.5%;
  margin-bottom: 5%;
}